flask==2.3.3
flask-cors==4.0.0
flask-socketio==5.3.6
python-socketio==5.10.0
python-engineio==4.8.0
faker==19.13.0
Werkzeug==2.3.7
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7
simple-websocket==1.0.0
eventlet==0.34.2 